@import '~styles/resources.scss';

.left-section {
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;

  @include media-breakpoint-down(xs) {
    justify-content: space-between;
    padding: 0 15px;
  }

  &__logo {
    &__item {
      height: 20px;
      width: auto;
    }
  }
}
