@import '~styles/resources.scss';

.left-section {
  height: 50px;
  &__logo,
  &__menu {
    text-align: left;
  }
  &__logo {
    width: 40%;
    margin-left: 30px;
    &__item {
      height: 20px;
      width: auto;
    }
  }
  &__menu {
    width: 60%;
    &__button {
      margin: 0 5px;
    }
  }
  @include media-breakpoint-down(xs) {
    &__logo {
      margin-left: 10px;
    }
    &__menu {
      margin-right: 5px;
      text-align: right;
    }
  }
}
