// Colours
$color-black: #000000 !default;
$color-white: #ffffff !default;
$color-gray: #959595 !default;
$color-red: #f44336 !default;
$color-blue: #2979ff !default;
$color-green: #4caf50 !default;
$color-yellow: #ffea00 !default;
