// Colours
$color-black: #000000 !default;
$color-white: #ffffff !default;
$color-gray: #959595 !default;
$color-light-gray: #ddd8d8 !default;
$color-red: #f44336 !default;
$color-blue: #1e88e5 !default;
$color-light-blue: #03a9f4 !default;
$color-green: #4caf50 !default;
$color-yellow: #ffea00 !default;
