@import '~styles/resources.scss';

// Main
.app-sidebar {
  &__header {
    @include fontKarla;

    &__close {
      position: absolute;
      right: 0;
      margin-right: 5px;
      color: $color-white;
      font-size: 16px;
    }
  }

  &__item-list {
    @include fontMontserrat;
    list-style-type: none;
    padding: 10px;
  }
}

// Visibility
.app-sidebar--open {
  width: 250px;
  transition: width 0.5s;
  animation: animateleft 0.5s;
}

.app-sidebar--closed {
  width: 0;
  transition: width 0.5s;
  animation: animateright 0.5s;
}

// Animations
@keyframes animateleft {
  from {
    left: -300px;
    display: none;
  }
  to {
    left: 0;
    display: block;
  }
}

@keyframes animateright {
  from {
    left: 0;
    display: block;
  }
  to {
    left: -300px;
    display: none;
  }
}
