@import '../../styles/resources.scss';
@import '../../styles/variables/variables';

.loader {
  &__blimp,
  &__ring {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container--small {
    width: 20px;
    height: 20px;
  }

  &__container--medium {
    width: 75px;
    height: 75px;
  }

  &__container--large {
    width: 200px;
    height: 200px;
  }

  &__container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 5px;

    & :nth-child(1) {
      background: $color-black;
      animation: blimp 1s linear 0.1s infinite backwards;
    }
    & :nth-child(2) {
      background: $color-gray;
      animation: blimp 1s linear 0.5s infinite backwards;
    }
    & :nth-child(3) {
      background: $color-blue;
      animation: blimp 1s linear 0.8s infinite backwards;
    }
    & :nth-child(4) {
      border: 2px solid transparent;
      border-top-color: $color-blue;
      border-bottom-color: $color-blue;
      animation: spin 1.8s linear infinite both;
    }
  }
}

@keyframes blimp {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
