@import '~styles/resources.scss';

.app-content {

  &--sidebar-open {
    margin-left: 250px;
    transition: margin-left 0.5s;
  }

  &--sidebar-closed {
    margin-left: 0;
    transition: margin-left 0.5s;
  }
}
